.demo-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  .demo-item {
    width: 50%;
    padding: 8px;
  }
}
