@import '@/styles/mixin';
@import '@/styles/variables';
@import '@/styles/reboot';

$xbear-card-header-font-size: 16px;
$xbear-card-header-padding: 18px 20px;
$xbear-card-title-padding: 10px 20px;
$xbear-card-content-padding: 22px 20px;

.xbear-card {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  transition: all $default-transition;

  &-shadow {
    box-shadow: $box-shadow;
  }

  &-hover {
    &:hover {
      box-shadow: $box-shadow;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 0;
    padding: $xbear-card-header-padding;
    font-size: $font-size-base;
    border-bottom: 1px solid $border-color;

    &-cover {
      overflow: hidden;
      padding-right: 0.6rem;

      img {
        max-width: 2rem;
        max-height: 2rem;
      }
    }

    &-title {
      flex: 1 1 auto;
      word-wrap: break-word;
      white-space: pre-wrap;

      &-overflow-hidden {
        @include ellipsis(1);
      }
    }

    &-extra {
      flex: 0 0 20%;
      text-align: right;
      @include ellipsis(1);
    }
  }

  &-content {
    padding: $xbear-card-content-padding;
  }

  &-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $border-color;

    &-item {
      flex: 1;
      padding: 12px 0;
      color: $font-color;
      font-size: $font-size-base;
      text-align: center;
      background-color: $white;
      cursor: pointer;
      transition: color $default-transition;

      &:hover {
        color: $primary;
      }

      & + .xbear-card-actions-item {
        border-left: 1px solid $border-color;
      }
    }
  }
}
