@import "@/styles/mixin";
@import "@/styles/variables";
@import "@/styles/reboot";

$xbear-card-header-font-size: 16px;
$xbear-card-header-padding: 18px 20px;
$xbear-card-title-padding: 10px 20px;
$xbear-card-content-padding: 22px 20px;

.xbear-card {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  transition: all $default-transition;

  &.xbear-card-shadow {
    box-shadow: $box-shadow;
  }

  &.xbear-card-hover {
    &:hover {
      box-shadow: $box-shadow;
    }
  }

  &.xbear-card-cover {
    overflow: hidden;

    img {
      width: 100%;
    }

    .xbear-card-header {
      display: block;
      padding: 0;

      &-title {
        padding: $xbear-card-title-padding;
      }
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 0;
    padding: $xbear-card-header-padding;
    font-size: $font-size-base;
    border-bottom: 1px solid $border-color;

    &-title {
      flex: 1 1 auto;

      &.xbear-card-overflow-hidden {
        @include ellipsis(1);
      }
    }

    &-extra {
      flex: 0 0 15%;
      text-align: right;
      @include ellipsis(1);
    }
  }

  &-content {
    padding: $xbear-card-content-padding;
  }

  &-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $border-color;

    &-item {
      flex: 1;
      padding: 12px 0;
      color: $font-color;
      font-size: $font-size-base;
      text-align: center;
      background-color: $white;
      cursor: pointer;
      transition: color $default-transition;

      &:hover {
        color: $primary;
      }

      & + .xbear-card-actions-item {
        border-left: 1px solid $border-color;
      }
    }
  }
}
