@import '@/styles/mixin';
@import '@/styles/variables';
@import '@/styles/reboot';

@each $key, $val in $theme-colors {
  .icon-#{$key} {
    color: $val;
  }
}

.xbear-icon {
  // cursor: pointer;

  &-loading {
    animation: xbear-rotate 1s linear infinite;
  }
}

.svgCls {
  svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
}
