.App {
  height: 100vh;

  .icon {
    float: left;
    height: 50px;
    margin: 8px 90px 6px 28px;
    pointer-events: none;
  }

  .header {
    background-color: white;
  }

  @media (prefers-reduced-motion: no-preference) {
    .icon {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }

  .site-layout-background {
    background: #fff;
  }
}
