@import '@/styles/index.scss';

.app {
  background: #fff;
  height: 100vh;

  .header {
    background-color: white;
    border-bottom: 1px solid $g08;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .icon {
      height: 2.2rem;
      pointer-events: none;
      font-weight: 600;
      margin-left: 2rem;
      margin-right: 4rem;
    }

    .title {
      color: $gray-900;
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 0;
      span {
        color: $indigo;
        font-weight: 500;
      }
    }

    @media (prefers-reduced-motion: no-preference) {
      .icon {
        animation: App-logo-spin infinite 20s linear;
      }
    }
  }

  .container {
    display: flex;
    .sider {
      width: 10rem;
      height: calc(100vh - 3rem);
    }
    .content {
      padding: 16px;
      margin-bottom: 10;
      height: calc(100vh - 3rem);
      overflow-y: scroll;
      width: 100%;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
